/* Components Override */

.ui-selectonemenu {
    padding-right: 0.31em !important;
}

.ui-selectonemenu{
     width: 100% !important;
}

.ui-selectonemenu-label{
     width: 100% !important;
}  

body {
	margin: 0;
	padding: 0;
}

nav {
	background-color: #E7E7DE;
	padding-left: 20%;
	padding-right: 20%;
	overflow: auto;
}

nav .menu, nav .logo {
	display: inline-block;
}

nav .menu {
	min-width: 40%;
	clear: both;
	float: right;
	margin-top: 30px;
}

nav .logo {
	padding-top: 10px;
	padding-bottom: 10px;
}

nav a {
	font-size: 1.3em !important;
	text-decoration: none;
	display: inline-block;
	color: #00587A;
	padding: 25px 15px;
}

nav a:hover {
	color: #0F3057;
    background-color: transparent;
    text-decoration: underline;
}

nav a.active {
	background-color: #444;
}

.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 6px;
	padding-right: 6px;
}

.container:before, .container:after {
	content: " ";
	display: table;
}

.container:after {
	clear: both;
}

@media ( min-width : 768px) {
	.container {
		width: 732px;
	}
}

@media ( min-width : 992px) {
	.container {
		width: 952px;
	}
}

@media ( min-width : 1200px) {
	.container {
		width: 1152px;
	}
}

.width-50 {
	width: 50%;
}

.center {
	margin: auto;
}

.mg-top-20 {
	margin-top: 20px;
}

.mg-bot-20 {
	margin-bottom: 20px;
}

.full-width {
	width: 100% !important; 
}

.user-info {
	padding-left: 200px;
	padding-right: 200px;
	padding-top: 40px;
	font-size: 1.5em;
	font-family: "latoregular","Trebuchet MS",Arial,Helvetica,sans-serif;
}

.form-label {
	
	padding: 20px;
	margin-bottom: 20px;
	
}